div {
    margin: 25px;
}



#Information {
    background-color: gray;
    border: 5px solid black;
    margin: 25px;
    padding: 15px;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(100, 0, 0, 0.8);
    vertical-align: top;
    display: inline-block;
}

#Introduction {
    color: mediumpurple;

}

nav {
    float: left;
    height: 100vh;
    background-color: crimson;
    padding: 15px;
}
ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

li a {
    background-color: white;
    color: crimson;
    padding: 1em 1.5em;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
}

   
